$primary: #6E539E;
$purple: #D874BD;
$lightprimary: lighten($primary,10);
$stripbackground: rgba(128, 128, 128, 0.25);


@mixin btnstyle {

  cursor: pointer;
  padding: 8px 32px;
  transition: 0.4s linear;
  background: $primary;
  color: $white;
  box-shadow: 4px 4px 8px $gray_25;

  &:hover {
    text-decoration: none;
    background:$purple;


  }
}



@mixin CTAbtn {

  background: $primary;
  padding: 8px 32px;
  color: white;
  transition: 0.4s linear;
  margin-top: 64px;



  &:hover {
    background:$purple ;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}


@mixin p_justify {
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}


.section {
  margin: 96px 0;


}

.banner {
  background: url("../image/leaf.jpeg") center center no-repeat;
  min-height: 200px;
  width: 100%;
  opacity: 0.8;
  background-size: cover;

  h1 {
    position: relative;
    margin-top: 110px;
    color: #fdfdfd;
    border-left: 3px solid #f3f3f3;
    padding-left: 7px;
  }
}


.header-about  {

  .container {
    padding:0 14%;



    h1 {
      font-size:30px;
      text-align: center;
      color:$primary;
    }



  }
}


.whatwedo {

  .container {
    p {
      @include  p_justify;
      padding-bottom: 32px;


    }

    a {
      @include CTAbtn;

    }



  }
}

.whoweare {
  p {
    @include  p_justify;


  }

  h3 {

    margin-top: 64px;
  }
}

.whatwevalue {

  .container {
    .row {
      p {
        @include  p_justify;
      }
    }
  }

}

.benifit {
  .container {
    h2 {
      margin-bottom: 64px;
      text-align: center;
    }

    .row {
      margin-bottom: 32px;

      .col-md-2 {
        display: table;

        i {
          display: table-cell;
          font-size: 64px;
          color: $lightprimary;
          text-align: center;
          vertical-align: middle;

        }

      }




    }


  }
}

.testimonial{


  h2 {
    text-align: center;
    margin-bottom: 64px;
  }

  #myCarousel {
    background: $primary;
    color: white;



    .carousel-inner {
      .container {

        padding: 48px 88px;
        text-align: center;




        [class*="col-"] {
          padding: 24px;


        }




        h4 {

          padding:8px 16px;
          line-height: 24px;
        }

        p{text-align: center}




      }



    }



  }



}


.ourstory {

  .container {
    p {

      padding-bottom: 32px;
      @include p_justify;
    }

    a {
      @include CTAbtn;

    }

  }
}


.teacher {
  .container {
    h2 {
      text-align: center;
      margin-bottom: 64px;

    }



    .row {

      margin-bottom: 16px;

      .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding: 8px;

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background-color: $primary;
          overflow: hidden;
          width: 65%;
          height: 0;
          transition: .5s ease;
          margin: 0 auto;

          .text {

            color: white;

            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            width:80%;
            text-align: left;



            h5{
              line-height: 15px;
              font-size: 14px;
            }
          }
        }



        &:hover {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.29);
          cursor: pointer;
        }


        &:hover .overlay {

          height: 84%;
          padding: 10px;
          cursor: pointer;

        }
      }



    }



  }
}



.partner {
  h2 {
    text-align: center;
    margin-bottom: 64px;
  }

  .container {

    padding: 0px 64px;


    .row {

      .img-responsive {
        margin: 0 auto;
        padding: 32px 64px;
      }

      text-align: center;

      a {
        @include CTAbtn;
        margin-top: 0px;
        display: inline-block;



      }

    }



  }
}
