

/*general */






/*BANNER */
div.banner {
    background: url("../image/leaf.jpg") center center no-repeat;
    min-height: 220px;
    width: 100%;
    opacity: 0.6;


}


.banner h1 {
    position: relative;
    margin-top: 120px;
    color: #fdfdfd;
}



/* Contact info */
div.contact-info {
    text-align: center;
    padding: 90px 10px;
    background-color: #ff3e68;
    opacity: 0.9;
    color: white;
    font-weight: 100;
}

.contact-info i {
    font-size: 60px;
}


div.contact-info .row {
   border: 1px dashed white;
    padding: 60px;


}


div.contact-info.containter.row:nth-child(1){
    margin-top: 20px;
}


/* map div */
#map {
    height: 440px;
    width: 100%;
}


div.row.map-title {
    margin: 40px auto;
}

div.map {
    margin-bottom: 100px;
}


.map .map-title h3:after {
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 50px;
    margin-top: 10px;
}

.map .col-md-12 button{
    background: #2c2c2c;
    border-left: 4px solid #F2184F;
    border-radius: 0;
    color: whitesmoke;
    padding: 10px 40px ;


}

.map .col-md-12 button:hover{
    background: #F2184F;
}

.map input, .map textarea {
    border-radius: 0;
    padding: 10px;
}

.map .form-control:focus {
    border: 1px solid #F2184F;
    opacity: 0.5;
}

