/*body */



/*BANNER */
div.banner {
    background: url("../image/leaf.jpg") center center no-repeat;
    min-height: 200px;
    width: 100%;
    opacity: 0.8;
    background-size: cover;


}


.banner h2 {
    position: relative;
    margin-top: 115px;
    color: #fdfdfd;
    border-left: 3px solid #f3f3f3;
    padding-left: 5px;
}


/* Question section*/
div.questions {
    padding: 70px 0;
    margin-top: 0px;

}

div.questions>div.container>tbody > tr:nth-of-type(2n+1) {
    background-color: #ff3e68;
}





/*
div.question-overlay {
    background: url("../image/cs-5.jpg") center center no-repeat;
    min-height: 460px;
    width: 100%;
    opacity: 0.2;
    background-size: cover;
    position: absolute;
    top:870px;
}
*/


.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f3f3f3;
    position: relative;
    top:10px;
    transform: translateX(-50%);
    left: 50%;
}

/*footer contact*/
div.footer-contact{
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0px;
    margin-top: 0px;
}

.footer-contact span {
    color:#ff3e68;
    font-weight: 500;

}

.footer-contact h3 {
    padding: 5px;
    margin: 5px;
    color: white;
    font-weight: normal;
}


div.jumbotron {
    background: #222222;
}



