/*font*/


/*Header div*/
body {
    font-family:'Parisienne', sans-serif;
}



div.row.navbar-fixed-top {
    border-bottom: 3px solid #F2184F;
}

.header .col-md-4 ul li {
    display: inline;
    padding: 5px 10px;
    border: 2px solid white;
    margin-right: 5px;
}

.header >ul{

}

.header ul li a {
    color: white;
}

.header ul li a:hover {
    text-decoration: none;
    color:#F2184F;
    font-weight: bold;
}

.header .col-md-4 ul li:hover {
    color:white;
    background: #F2184F;
    text-decoration: none;
}

.header .col-md-4 ul li a:hover {
    color:white;
    background: #F2184F;
    text-decoration: none;
    font-weight: normal;

}

.header .col-md-7 ul li {
    display: inline;
    padding: 20px 10px;
    margin-right: 20px;
    font-size: 15px;
    margin-top: 20px;

}

.header.col-md-7 ul li:hover {
    color:#F2184F;
    text-decoration: none;
}

.header .col-md-7 ul {

    color: white;
    text-align: center;
    padding-top: 18px;


}


div.header > .row {
    margin:0
}

.header .col-md-4 ul {
    margin-top: 18px;
    color: white;
    text-align: end;
}

.header div.col-md-4 {
    text-align: end;

}

.header h2 {
    color:white;
    margin-top: 12px;
}





div.header {
    padding: 0;
    margin: 0;

}

div.container.header .row {
    padding:0;
    margin: 0;
}

div.header.container {


}

div.row.navbar-fixed-top {
    background-color: #2c2c2c;
    opacity: 0.9;
    padding: 0 20px;
}

/*div.header {
    background: url("../image/cs2.jpg") center center no-repeat;
    min-height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;


}*/


/*Overlay */
div.subscribe-overlay {
    width: 100%;
    z-index: 1032;
    height: 100vh;
    background: #2c2c2c;
    position: absolute;
    top:0;
    opacity: 0.9;
}

div.subscribe-overlay i{
    color:white;
    font-size: 25px;
    margin-top: 20px;

}

div.subscribe-overlay {
    text-align: right;
}

div.input-group.middle{

    padding: 40vh 25%;


}


.subscribe-overlay .btn.btn-default{
    background: #ff1657;
    color: white;
}

/* dropdown*/



li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff3e68;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top:58px;
    left: 10px;
    z-index: 999;
    color: whitesmoke;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    text-decoration: none;
}
