/*font*/



a:hover {
    cursor: pointer;
}


/*Header div*/

.header #logo {
    margin: 10px  12px 10px;
    height: 36px;
    display: inline;
}



.header ul li a:hover {
    text-decoration: none;
    color:#6E539E;
    font-weight: 400;

}

.header  a {
    color: #3E4A5D;
    font-weight: 400;
}


.header ul li.icon {
    display: none;
}



.header ul li {
    display: inline;
    padding: 18px 10px;
    margin-right: 20px;
    font-size: 15px;


}

.header ul li:hover {
    color:#6E539E;
    text-decoration: none;
}



.header  ul {

    color: white;
    padding-top: 18px;
    float: right;


}




div.navbar-fixed-top {
    background-color: #f5f5f5;
    opacity: 1;
    padding: 0 20px;
    height: 60px;
    border-bottom: 2px solid #6E539E;
}



/* dropdown*/

.dropdown-content {
    opacity: 0;

    position: absolute;
    background-color:  #6E539E;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top:56px;
    left: 600px;
    z-index: 999;
    color: whitesmoke;
    transition: 0.5s ease-in-out;
    width: 300px;
}


.dropdown:hover .dropdown-content {

    opacity: 1;
    left: 0px;
    text-decoration: none;

}




.dropdown-content a {

    color: #eeeeee;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 0.8s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;

}

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/*control the normal size*/
.sidenav {
    height:100%;
    width:0;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: #242424;
    overflow-x:hidden;
    transition: 0.5s;
    text-align: center;
    padding-top: 64px;

}



@media screen and (max-width: 900px) {

    .header ul >li:not(:last-child) {
        display: none;
    }

    .header ul li.icon {
        display: block;
        float: right;
        position: relative;
        top:-18px;
        font-size: 18px;
    }


    /*site nav*/


    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #696969;
        display: block;
        transition: 0.3s;
        font-size: 25px;
    }

    .sidenav a:hover {
        color: #ede6e8;
    }


    .sidenav .closebtn {
        right:25px;
        font-size:36px;
    }



}


@media screen and (max-width: 1000px) {
    .header.responsive ul >li:not(:last-child) a {
        display: block;
        float: none;
        position:relative;
    }
}



