/*font*/



body {

}

a:hover {
    cursor: pointer;
}


/*Header div*/

.header #logo {
    margin: 14px  14px 12px;
    height: 24px;
    display: inline;
}



.header ul li a:hover {
    text-decoration: none;
    color:#F2184F;
    font-weight: bold;
}

.header ul li a {
    color: white;
}





.header ul li {
    display: inline;
    padding: 18px 10px;
    margin-right: 20px;
    font-size: 15px;


}

.header ul li:hover {
    color:#F2184F;
    text-decoration: none;
}



.header  ul {

    color: white;
    padding-top: 18px;
    float: right;
    padding-right:48px;
}




div.navbar-fixed-top {
    background-color: #2c2c2c;
    opacity: 1;
    padding: 0 20px;
    height: 60px;
    border-bottom: 2px solid #f2184f;
}



/* dropdown*/

.dropdown-content {
    opacity: 0;

    position: absolute;
    background-color: #ff3e68;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top:56px;
    left: 600px;
    z-index: 999;
    color: whitesmoke;
    transition: 0.5s ease-in-out;
}


.dropdown:hover .dropdown-content {

    opacity: 1;
    left: 0px;
    text-decoration: none;

}




.dropdown-content a {
    color: black;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}




/*Overlay */
/*
div.subscribe-overlay {
    width: 100%;
    z-index: 1032;
    height: 100vh;
    background: #2c2c2c;
    position: absolute;
    top:0;
    opacity: 0.9;
}

div.subscribe-overlay i{
    color:white;
    font-size: 25px;
    margin-top: 20px;

}

div.subscribe-overlay {
    text-align: right;
}

div.input-group.middle{

    padding: 40vh 0;
    margin: 0 auto;
    width: 40%;


}


.subscribe-overlay .btn.btn-default{
    background: #ff1657;
    color: white;
}



*/


/*Media */



@media only screen and (max-width: 767px){


}






@media only screen and (min-width: 768px) and (max-width: 991px){





}

   @media only screen and (min-width: 992px) and (max-width: 1199px){




}

   @media only screen and (min-width: 1200px) {



}







