/*General*/
a,i{
    cursor: pointer;
}



/*!*Header div*!


.header .col-md-4 ul li {
    display: inline;
    padding: 5px 10px;
    border: 2px solid white;
    margin-right: 5px;
}

.header ul li a {
    color: white;
}

.header ul li a:hover {
    text-decoration: none;
    color:#F2184F;
    font-weight: bold;
}

.header .col-md-4 ul li:hover {
    color:white;
    background: #F2184F;
    text-decoration: none;
}

.header .col-md-4 ul li a:hover {
    color:white;
    background: #F2184F;
    text-decoration: none;
    font-weight: normal;
}

.header .col-md-7 ul li {
    display: inline;
    padding: 5px 10px;
    margin-right: 20px;
    font-size: 15px;
}

.header.col-md-7 ul li:hover {
    color:#F2184F;
    text-decoration: none;
}

.header .col-md-7 ul {
    margin-top: 18px;
    color: white;
    text-align: center;

}


div.header > .row {
    margin:0
}

.header .col-md-4 ul {
    margin-top: 18px;
    color: white;
    text-align: end;
}

.header div.col-md-4 {
    text-align: end;

}

.header h2 {
    color:white;
    margin-top: 12px;
}





div.header {
    padding: 0;
    margin: 0;

}

div.container.header .row {
    padding:0;
    margin: 0;
}

div.header.container {


}

div.row.navbar-fixed-top {
    background-color: #2c2c2c;
    opacity: 0.9;
    padding: 0 20px;
}

*/

/*Overiting the part for full-width background */

div.header {
    background: url("../image/home/home_brand1.jpg") center center no-repeat;
    min-height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;


}


/*about div*/
div.about {
    margin-top: 70px;
    position:relative;
}

.about h5 {
    color: darkgrey;

}


.about h2 {
    margin-top: 0px;
}

.about .col-lg-6 h2::after {
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin-top: 10px;
}





.about h4{
    margin-top: 30px;
}

.about p{
    margin-top: 20px;
    line-height: 20px;
    margin-bottom: 30px;
}


.about a:nth-child(5){
    padding: 15px 30px;
    background-color: #122b40;
    color: white;

}

/*program div*/
div.program.jumbotron {
    margin-top: 50px;
}

.program span {
    color:#F2184F;
}

.program .container .row h2::after {
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin-top: 10px;
}


.program img.img-responsive {
    height: 240px;
    width: 100%;

}

div.program-pic {
    margin-top: 20px;
}

.program-pic .col-md-3 {
    padding: 30px 10px;
    background-color: whitesmoke;
    border:3px solid #e2e2e2;

}

.program-pic h3 {
    margin: 10px 0;
}

.program-pic h3::after{
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin: 6px 0;
}



.program.jumbotron p {
    font-size: 14px;
}

.program-pic a{
    padding: 8px 20px;
    background-color: #122b40;
    color:white;
    border-radius: 5px;
}




.program-pic a:hover {
    background-color: #F2184F;
    text-decoration: none;
    color: whitesmoke;

}

div.program.jumbotron {
    margin-bottom: 0;
    padding-bottom: 70px;
}

/*partner*/
div.partner {
    background-color: #ff1657;
}


.partner img {
    height: 130px;
    padding: 20px;
}



.partner .row {
    width: 85%;
    margin: 0 auto;
}

/*
!*Overlay *!
div.subscribe-overlay {
    width: 100%;
    z-index: 1032;
    height: 100vh;
    background: #2c2c2c;
    position: absolute;
    top:0;
    opacity: 0.9;
}

div.subscribe-overlay i{
    color:white;
    font-size: 25px;
    margin-top: 20px;

}

div.subscribe-overlay {
    text-align: right;
}

div.input-group.middle{

    padding: 25% 25%;


}


.subscribe-overlay .btn.btn-default{
    background: #ff1657;
    color: white;
}


*/

/*Testimonial*/

div.tesimony {
    margin-top: 40px;
    background: #3a455b;
}

.tesimony h5 {
    color: darkgrey;
    margin-top: 20px;


}

.tesimony .row {
    padding: 5px 20px;
}

div.tesimony .row:nth-child(1){
    padding:10px 30px 5px;
    margin-bottom: 0px;
}

div.tesimony .row:nth-child(2){
    margin-bottom: 40px;
}


.tesimony h2 {
    margin-top: 0px;
    color: white;
}

.tesimony p {
    color: whitesmoke;
    padding-top: 30px;
}

.tesimony h2::after {
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 40px;
    margin-top: 10px;
}


.tesimony .img-circle {

    width: 100%;
    display:block;
    margin:auto;
    padding: 20px;


}

.tesimony h6 {
    color: whitesmoke;
}

.tesimony h6 span{
    color: #F2184F;
}


/*Teachers*/

/*program div*/

div.teacher.jumbotron {
    margin-top: 50px;
}

.teacher span {
    color:#F2184F;
}

.teacher .container .row h2::after {
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin-top: 10px;
}



div.teacher-pic {
    margin-top: 20px;
}

.teacher-pic .col-md-3 {
    padding: 30px 10px;
    background-color: whitesmoke;
    border:3px solid #e2e2e2;

}

.teacher-pic h3 {
    margin: 10px 0;
}

.teacher-pic h3::after{
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin: 6px 0;
}

.teacher-pic .img-responsive {
    padding:10px;
}


.teacher.jumbotron p {
    font-size: 14px;
}

.teacher-pic a{
    padding: 8px 20px;
    background-color: #122b40;
    color:white;
    border-radius: 5px;

    margin-left: 10px;
    position: relative;
    top:-5px;
}

.teacher-pic a:hover{

    background-color: #F2184F;
    text-decoration: none;
    color: whitesmoke;



}

div.teacher.jumbotron {
    margin-bottom: 0;
    padding-bottom: 70px;
}

.teacher.jumbotron.teacher-pic h5 span {
    font-size: 8px;
}

.teacher-pic i{
    font-size: 30px;
    padding: 5px 5px;
    margin-top: 5px;
    line-height: 5px;

}


/*post*/
.post .img-responsive {
    padding: 5px;
}