//colors
$white: #fff;
$primary: #6E539E;
$black: #121212;
$lightblack: #D874BD;
$purple: #6c4a98;
$lightprimary: #D874BD;

$color_shady_lady_approx: #a9a9a9;
$gray: #000000;
$gray_25: rgba(128, 128, 128, 0.25);



@mixin btnstyle {

  cursor: pointer;
  padding: 8px 32px;
  transition: 0.4s linear;
  background: $primary;
  color: $white;
  box-shadow: 4px 4px 8px $gray_25;

  &:hover {
    text-decoration: none;
    background:$lightblack;


  }
}



i {
  cursor: pointer;
}

body {
   position:relative;
}


div.navbar-fixed-top {
  background-color:  transparent;
  opacity: 1;
  padding: 0 20px;
  height: 60px;
  border-bottom: 2px solid #6E539E;
}

div {
  &.sidertextwrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate(-50%, -50%);
    color: $white;
  }
  &.about {
    margin-top: 70px;
    position: relative;
  }
  &.benefit {
    margin-top: 40px;
    margin-bottom: 72px;
  }
  &.programnew.jumbotron {
    margin-top: 40px;
    padding-top: 16px;
    background: $white;
  }
}





.about {
  h5 {
    color: $color_shady_lady_approx;
  }
  h2 {
    margin-top: 0;
  }
  h4 {
    margin-top: 30px;
  }
  p {
    margin-top: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    font-size:16px;
    text-align: justify;
    padding-right: 24px;

  }
  iframe {
    margin-top: 32px;
  }

  .col-lg-6 h2::after {
    background: $purple;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin-top: 10px;
  }
  .col-md-6 a {
    @include btnstyle;
  }
}


.programnew {

  .container .row {
    text-align: center;
    h2 {
      margin-bottom: 40px;
      text-align: center;

      span {
        color: $primary;
      }

      &::after {
        background: $primary;
        display: block;
        content: "";
        height: 2px;
        left: 15px;
        width: 60px;
        margin: 16px auto 32px;
        text-align: center;
      }



    }

    .col-md-5 {
      .card {



        text-align: center;
        padding: 18px;
        background-color: $gray_25;
        transition: 0.5s ease-in-out;
        color: $white;
        margin-bottom: 8px;
        box-shadow: none;

        &:hover {
          box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
          cursor: pointer;
        }

        img {
          filter: blur(5px);
        }

        a {
          padding: 8px 32px;
          background-color: $primary;
          color: $white;
          text-align: center;
          display: inline-block;
          margin-bottom: 32px;
          transition: 0.4s linear;

          @include  btnstyle;

        }
        p {
          color: $white;
          text-shadow: 4px 4px 16px #000000;
          font-size: 16px;
          text-align: justify;
        }
      }



    }





  }








  &.jumbotron p {
    font-size: 16px;
    color: $black;
    margin-top: 4px;
  }
}




.benefit {
  .container {
    padding: 8px 80px;
    .row {
      &:nth-child(1) {
        text-align: center;
      }
      h2::after {
        background: $primary;
        display: block;
        content: "";
        height: 2px;
        left: 15px;
        width: 60px;
        margin: 16px auto 32px;
        text-align: center;
      }
      &:nth-child(2) .card {
        text-align: justify;
        margin-top: 32px;
        img {
          margin: 0 auto 18px;
          padding: 24px 96px;
        }

        p {
          font-size: 16px;
          line-height: 24px;


        }
        h4 {
          color: $primary;
          text-align: center;
        }
      }
    }
  }
  h2 {
    margin-bottom: 32px;
    text-align: center;
    span {
      color: $primary;
    }
  }
}


.testimonial{


  h2 {
    text-align: center;
    margin-bottom: 64px;
  }

  #myCarousel2 {
    background: $primary;
    color: white;



    .carousel-inner {
      .container {

        padding: 48px 88px;
        text-align: center;




        [class*="col-"] {
          padding: 24px;


        }




        h4 {
          padding:8px 16px;
          font-weight: normal;
          line-height: 26px;
        }


        p {
          text-align: center;
        }




      }



    }



  }



}

.post {
  text-align: center;
  .img-responsive {
    padding: 5px;
    margin: 0 auto;
  }
  h2 {
    margin: 72px auto 32px;
    text-align: center;

    &::after{
      background: $primary;
      display: block;
      content: "";
      height: 2px;
      left: 15px;
      width: 60px;
      margin: 16px auto 32px;
      text-align: center;
    }

    span {
      color: $primary;
    }

  }

  p {
    a {
      color: #0f0f0f;

      &:hover {
        color:$primary;
        text-decoration: none;
      }
    }



  }




}


.calltoaction {
  text-align: center;
  background: $primary;
  margin-bottom: 0;
  margin-top: 72px;
  padding: 64px 0 96px;
  h2 {
    color: $white;
    margin-bottom: 16px;
  }
  p {
    color: $white;
  }
  a {
    font-size: 16px;
    color: $primary;
    background-color:$white;
    padding: 8px 24px;
    top: 32px;
    position: relative;

    margin-bottom: 64px;
    text-decoration: none;
    transition: 0.4s linear;

    &:hover {
      background: $lightblack;
      color: white;
      cursor: pointer;
      text-decoration: none;
    }


  }
}
.slidertextwrapper h1 {
  font-size: 60px;
}

#myCarousel > div > div > div > a {
  padding: 8px 32px;
  border: 2px solid white;
  color: $white;
  display: inline-block;
  margin-top: 32px;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: 0.4s linear;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  //box-shadow: 5px 5px 8px $black;
  &:hover {
    background-color: $lightblack;
    color: $white;
    text-decoration: none;
  }
}

#myCarousel {
  .slidertextwrapper {
    a {
      i {
        font-size: 20px;
      }
    }
  }

  .textwrapper {
    text-align: center;
    position: relative;
    bottom: 75px;

    h4 {
      color: white;
      font-weight: 300;
      font-size: 16px;
    }

    i {
      color: white;
      font-size: 18px;
      margin-top: 0;
      padding-top: 0;
    }
  }
}