/*General*/
a,i{
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}



/*!*Header div*!


.header .col-md-4 ul li {
    display: inline;
    padding: 5px 10px;
    border: 2px solid white;
    margin-right: 5px;
}

.header ul li a {
    color: white;
}

.header ul li a:hover {
    text-decoration: none;
    color:#F2184F;
    font-weight: bold;
}

.header .col-md-4 ul li:hover {
    color:white;
    background: #F2184F;
    text-decoration: none;
}

.header .col-md-4 ul li a:hover {
    color:white;
    background: #F2184F;
    text-decoration: none;
    font-weight: normal;
}

.header .col-md-7 ul li {
    display: inline;
    padding: 5px 10px;
    margin-right: 20px;
    font-size: 15px;
}

.header.col-md-7 ul li:hover {
    color:#F2184F;
    text-decoration: none;
}

.header .col-md-7 ul {
    margin-top: 18px;
    color: white;
    text-align: center;

}


div.header > .row {
    margin:0
}

.header .col-md-4 ul {
    margin-top: 18px;
    color: white;
    text-align: end;
}

.header div.col-md-4 {
    text-align: end;

}

.header h2 {
    color:white;
    margin-top: 12px;
}





div.header {
    padding: 0;
    margin: 0;

}

div.container.header .row {
    padding:0;
    margin: 0;
}

div.header.container {


}

div.row.navbar-fixed-top {
    background-color: #2c2c2c;
    opacity: 0.9;
    padding: 0 20px;
}

*/

/*Overiting the part for full-width background */

 div.sidertextwrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.slidertextwrapper h1 {
    font-size:60px;
}

#myCarousel > div > div > div > a {
    padding: 8px 32px;
    background-color: #f2184f;
    color: white;
    display: inline-block;
    margin-top: 32px;
    transition: 0.4s linear;
}

#myCarousel > div > div > div > a:hover {

    background-color: #6C4A98;
    color: white;
    text-decoration: none;

}




/*about div*/
div.about {
    margin-top: 70px;
    position:relative;
}

.about h5 {
    color: darkgrey;

}


.about h2 {
    margin-top: 0px;
}

.about .col-lg-6 h2::after {
    background: #6C4A98;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin-top: 10px;
}





.about h4{
    margin-top: 30px;
}

.about p{
    margin-top: 20px;
    line-height: 20px;
    margin-bottom: 30px;
}


.about .col-md-6 a {
    padding: 8px 32px;
    background-color: #f2184f;
    color: white;
}


.about iframe {
    margin-top: 32px;
}



/*program div*/
div.program.jumbotron {
    margin-top: 50px;

}


.program .container .row:nth-child(1){
    text-align: center;
}

.program span {
    color:#F2184F;
}

.program h2 {
    margin-bottom: 32px;
    text-align: center;
}

.program .container .row h2::after {
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin: 16px auto 32px;
    text-align: center;

}




.program img.img-responsive {
   margin:  0 auto;


}







.program.jumbotron p a {

    color: black;
    padding: 0;
    margin: 0;
    line-height: 16px;

}


.program.jumbotron p{
    font-size: 16px;
    color: black;
    padding: 0;
    margin-bottom: 8px;
    margin-top: 4px;


}





.program.col-md-3.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 8px;



}

.program .col-sm-4.card {
    text-align: center;


}

.program .col-sm-4 p {

}

.program .col-sm-4 {
    height: 144px;
    text-align: center;
}
.program .col-sm-4 a {
    padding: 8px 32px;
    background-color: #F2184F;
    color: whitesmoke;


}

.program .col-sm-4 a:hover {
    background-color: #F2184F;
    text-decoration: none;
    color: whitesmoke;



}

div.program.jumbotron {
    margin-bottom: 0;
    padding-bottom: 70px;
}



.program a.carousel-control {
    padding: 0;
    margin: -120px;
    background-image:none;
}


/*program new*/
div.programnew.jumbotron {
    margin-top: 40px;
    padding-top: 16px;
    background: white;
}


.programnew .container .row{
    text-align: center;
}


.programnew span {
    color:#F2184F;
}

.programnew h2 {
    margin-bottom: 40px;
    text-align: center;
}

.programnew .container .row h2::after {
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin: 16px auto 32px;
    text-align: center;

}


.programnew.jumbotron p{
    font-size: 16px;
    color: black;
    margin-top: 4px;
}



.programnew .col-sm-5 div.card {
    text-align: center;
    padding: 18px;
    background-color: rgba(128, 128, 128, 0.25);
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px 5px rgba(240, 249, 246, 0.35);
    color: white;
    margin-bottom: 8px;
}

.programnew .col-sm-5 div.card:hover {
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
}


.programnew .col-sm-5 .card a {

    padding: 8px 32px;
    background-color: #F2184F;
    color: whitesmoke;
    text-align: center;
    display: inline-block;
    margin-bottom: 32px;

}

.programnew .col-sm-5 .card p {

   color: whitesmoke;

}


/*benifit*/
div.benefit {
    margin-top: 40px;
    margin-bottom: 72px;
}

.benefit .container {
    padding: 8px 80px;
}

.benefit .container .row:nth-child(1) {
    text-align: center;
}


.benefit h2 {
    margin-bottom: 32px;
    text-align: center;
}

.benefit h2 span {
    color: #F2184F
}



.benefit .container .row h2::after {
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin: 16px auto 32px;
    text-align: center;

}


.benefit .container .row:nth-child(2) .card{
    text-align: center;
    margin-top: 32px;
}

.benefit .container .row:nth-child(2) .card img{
     margin: 0 auto 18px;
     padding: 16px;

 }

.benefit .container .row:nth-child(2) .card p{
    font-size: 14px;
}






/*partner*/
div.partner {
    background-color: #ff1657;
}


.partner img {
    height: 130px;
    padding: 20px;
}



.partner .row {
    width: 85%;
    margin: 0 auto;
}

/*
!*Overlay *!
div.subscribe-overlay {
    width: 100%;
    z-index: 1032;
    height: 100vh;
    background: #2c2c2c;
    position: absolute;
    top:0;
    opacity: 0.9;
}

div.subscribe-overlay i{
    color:white;
    font-size: 25px;
    margin-top: 20px;

}

div.subscribe-overlay {
    text-align: right;
}

div.input-group.middle{

    padding: 25% 25%;


}


.subscribe-overlay .btn.btn-default{
    background: #ff1657;
    color: white;
}


*/

/*Testimonial*/

div.tesimony {
    margin-top: 0;
    background: #3a455b;
    padding-bottom: 32px;
}

div.tesimony .row:nth-child(1) h5 {
    color: darkgrey;
    margin-top: 20px;
}



.tesimony .row:nth-child(1) h2 {
    margin-top: 0px;
    color: white;
}

.tesimony .row:nth-child(1) p {
    color: whitesmoke;
    padding-top: 30px;
}

.tesimony .row:nth-child(1) h2::after {
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 40px;
    margin-top: 10px;
}



.tesimony .row {
    padding: 5px 20px;
}



div.tesimony .row:nth-child(1){
    padding:10px 30px 5px;

}

div.tesimony .row:nth-child(2) h5{
    margin-bottom: 0;
    color: white;

}

div.tesimony .row:nth-child(2) h5 span{

    color: #f2184f;

}

div.tesimony .row:nth-child(2) {

    text-align: center;

}



.tesimony .row:nth-child(2)  img{

    margin: 8px auto;

}




.tesimony h6 {
    color: whitesmoke;
}

.tesimony h6 span{
    color: #F2184F;
}


/*Teachers*/

/*program div*/

div.teacher.jumbotron {
    margin-top: 50px;
}

.teacher span {
    color:#F2184F;
}

.teacher .container .row h2::after {
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin-top: 10px;
}



div.teacher-pic {
    margin-top: 20px;
}

.teacher-pic .col-md-3 {
    padding: 30px 10px;
    background-color: whitesmoke;
    border:3px solid #e2e2e2;

}

.teacher-pic h3 {
    margin: 10px 0;
}

.teacher-pic h3::after{
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin: 6px 0;
}

.teacher-pic .img-responsive {
    padding:10px;
}


.teacher.jumbotron p {
    font-size: 14px;
}

.teacher-pic a{
    padding: 8px 20px;
    background-color: #122b40;
    color:white;
    border-radius: 5px;

    margin-left: 10px;
    position: relative;
    top:-5px;
}

.teacher-pic a:hover{

    background-color: #F2184F;
    text-decoration: none;
    color: whitesmoke;



}

div.teacher.jumbotron {
    margin-bottom: 0;
    padding-bottom: 70px;
}

.teacher.jumbotron.teacher-pic h5 span {
    font-size: 8px;
}

.teacher-pic i{
    font-size: 30px;
    padding: 5px 5px;
    margin-top: 5px;
    line-height: 5px;

}


/*post*/

.post {
    text-align: center;
}
.post .img-responsive {
    padding: 5px;
    margin:  0 auto;

}


.post h2 {

    margin: 72px auto 32px;
    text-align: center;
}

.post span{
    color:  #F2184F;
}

.post h2::after {
    background: #F2184F;
    display: block;
    content: "";
    height: 2px;
    left: 15px;
    width: 60px;
    margin: 16px auto 32px;
    text-align: center;

}



/*CTA*/


/*cta*/
.calltoaction {
    text-align: center;

    background: #F2184F;
    margin-bottom: 0;
    margin-top: 72px;
    padding: 64px 0 96px;
}


.calltoaction h2{
    color: white;
    margin-bottom: 16px;
}

.calltoaction p{
    color: white;
}

.calltoaction a {
    font-size: 16px;
    color: #F2184F;
    background-color: #f0f9f6;
    padding: 8px 24px;
    top: 32px;
    position: relative;
    transition: 0.5s linear;
    margin-bottom: 64px;
    text-decoration: none;
}

.calltoaction a:hover {
    font-size: 16px;
    color: white;
    background-color: #656968;
    padding: 8px 24px;
    text-decoration: none;
    position: relative;
    cursor: pointer;

}