//colors
@import 'variables';

$white: #fff;
$dark:darken($primary,20%);
$hover: #D874BD;


.section {
  margin-bottom: 40px;
}



.banner {

  margin-top: 32px;
  min-height: 100vh;
  position: relative;
  background: url('../image/webinar/landing.jpg') center bottom no-repeat; /* For browsers that do not support gradients */
  background-size:cover;

  .herotext {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;

      a{

        padding: 8px 32px;
        color: white;
        border: 2px solid white;
        display: block;
        margin-top: 32px;
        transition: all 0.2s linear;
        &:hover {
          background: $primary;
        }
      }
    }
}



.live {

  background: white; /* For browsers that do not support gradients */
  min-height: 100vh;
  width: 100%;
  opacity: 1;
  background-size: cover;
  position: relative;


  a {
    color:black;
    transition: all 0.3s linear;


    &:hover {
      color:$primary;
      text-decoration: none;
    }
  }


  .container {
    padding: 32px;


     .col-md-12 {
       embed {
         border: 2px solid gray ;
         padding: 2px;
         background: #242424;


       }

     }




  }




}

.history{
  h3 {
    margin-bottom: 32px;
    border-left: 4px solid $primary;
    padding-left: 8px;
  }
  .container {
    .row {
      margin-bottom: 64px;

      .col-md-3 {
        .card {
          border-radius: 10px;
          box-shadow: 2px 1px 10px grey;
          margin-bottom: 16px;

          .imgwrapper {
            img {
              border-top-left-radius: 10px;
              border-top-right-radius:10px;
              border-bottom: 8px solid $primary;
            }

          }
          .text{
            p{
              color:gray;
            }
            padding: 16px 16px 24px;
            a {
              color:white;
              padding: 8px 24px;
              background: $primary;
              display: inline-block;
              margin-top: 24px;
              transition: all 0.5s linear;
              margin-bottom: 4px;


              &:hover {
                background: $hover;
                text-decoration: none;

              }

              i {
                font-size: 1.1em;
              }
            }



          }

        }
      }
    }
  }
}

