
body, html {
    height: 100%;
    background-color: transparent;

}


.section {
    margin-bottom: 96px;
}

a, a:hover{
    text-decoration: none;
}

.intro-text {
    text-align: center;
    position: relative;
    top:170px;
    color: white;
}

.intro-text h1{
    font-size: 56px;
    text-shadow: 4px 4px 10px #000000;
}

.intro-text a {
    font-size: 16px;
    color: white;
    background-color: #6E539E;
    padding: 8px 24px;
    top: 32px;
    position: relative;
    transition: 2s ease;

}

.intro-text a:hover {
    font-size: 16px;
    color: white;
    background-color: #D874BD;
    padding: 8px 24px;
    text-decoration: none;
    position: relative;
    cursor: pointer;

}


/*video for g20 */
.video-container {
    width: 100%;
    height:87vh;
    top: 0%;
    left: 0%;
    overflow: hidden;
    object-fit: contain;
    margin-bottom: 48px;
    margin-top: -3vh;
}


/*form text*/
.main h1 {
    font-size: 30px;
    line-height: 33px;
}

.main p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
}

.main ul li {
    font-size: 16px;
    line-height: 24px;
}



/*form fields*/


#hsForm_dac6027a-36c7-42e0-b0b5-a5f9d7cfa4f5 > div > div.actions > input {
    cursor: pointer;
    padding: 8px 32px;
    transition: 0.4s linear;
    background: #6e539e;
    color: white;
    border-radius: 0; box-shadow: none;
    border-color:transparent;
    font-weight: normal;
    text-transform: uppercase;

}



#hsForm_dac6027a-36c7-42e0-b0b5-a5f9d7cfa4f5 > div > div.actions {
    margin-left: -20px;
    padding-left: 20px;
    margin-top: -8px;
}

#hsForm_dac6027a-36c7-42e0-b0b5-a5f9d7cfa4f5 > div > div.actions > input:hover {
    text-decoration: none;
    background:#D874BD;
}




#hsForm_dac6027a-36c7-42e0-b0b5-a5f9d7cfa4f5 > fieldset:nth-child(1) > div.hs_firstname.field.hs-form-field > ul > li > label,#hsForm_dac6027a-36c7-42e0-b0b5-a5f9d7cfa4f5 > fieldset:nth-child(1) > div.hs_lastname.field.hs-form-field > ul > li > label,#hsForm_dac6027a-36c7-42e0-b0b5-a5f9d7cfa4f5 > fieldset:nth-child(2) > div.hs_email.field.hs-form-field > ul > li > label {
    color: red;
}





.hs-form-4c0aeafa-c332-4674-80e7-9cf8695a3d37_c997ff57-f7a8-4397-bc51-92b9297c25ac fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    max-width: 600px;
}





