@import "variables";

.banner {
  background: #D874BD; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#D874BD,  #6E539E ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#D874BD,  #6E539E ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#D874BD,  #6E539E ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#D874BD,  #6E539E ); /* Standard syntax */


  min-height: 200px;
  width: 100%;
  opacity: 0.8;
  background-size: cover;
  color: white;

  h1 {
    position: relative;
    margin-top: 110px;
    color: #fdfdfd;
    border-left: 3px solid #f3f3f3;
    padding-left: 7px;
  }
}





.main {
  margin-top: 64px;
  margin-bottom: 64px;
  .container {
    margin: 0 auto;
    width: 90%;

    h3 {
      margin-bottom: 32px;
    }
    h4 {
      font-weight: bold;
    }
    p {
      font-size: 16px;
      line-height: 20px;
    }


    input {
        border-radius: 0;
        width: 30%;
      }

    #apply-btn {
        margin-top: 32px;
        display: inline-block;
        padding: 4px 18px;
        border-radius: 0;
        background: $primary;
      }

      .msg {

      }



  }





}