body, html {
    height: 100%;
    background-color: transparent;

}

.section {
    margin-top: 80px;
    margin-bottom: 80px;
}

a, a:hover{
    text-decoration: none;
}


/*into*/
div.intro {
    height: 400px;
    background-size: cover;

    margin-top: 50px;
    background:url('../image/program/Landscape.jpg');
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 40px


}



.intro-text {
    text-align: center;
    position: relative;
    top:140px;
    color: white;


}

.intro-text h1{
    font-size: 56px;
}

.intro-text a {
    font-size: 16px;
    color: white;
    background-color: #F2184F;
    padding: 8px 24px;
    top: 32px;
    position: relative;
    transition: 2s ease;

}

.intro-text a:hover {
    font-size: 16px;
    color: white;
    background-color: #656968;
    padding: 8px 24px;
    text-decoration: none;
    position: relative;
    cursor: pointer;

}


/*onsite*/

.onsite_p h2 {
    text-align: center;
    padding: 32px;
    margin-bottom: 40px;
}
.card_p {
    /* Add shadows to create the "card" effect */

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;


}

.card_p:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card_p a {
     background:#F2184F;
     padding:8px 24px;
     display: inline-block;
     margin-bottom: 24px;
     color: white;

 }

.card_p:hover a {
    background:#F2184F;

    display: inline-block;

    color: white;

}


.card_p p {
    padding: 8px;


}



/*online*/
.online_p h2 {
    text-align: center;
    padding: 32px;
    margin-bottom: 40px;
}

.online_p .row {
    margin: 0px 0 48px;
}

