
body, html {
    height: 100%;
    background-color: transparent;

}



.section {
    margin-bottom: 96px;
}

a, a:hover{
    text-decoration: none;
}


/*into*/
div.intro {
    height: 450px;
    background-size: cover;
    margin-top: 0px;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 40px
}



.intro-text {
    text-align: center;
    position: relative;
    top:170px;
    color: white;


}

.intro-text h1{
    font-size: 56px;
    text-shadow: 4px 4px 10px #000000;
}

.intro-text a {
    font-size: 16px;
    color: white;
    background-color: #6E539E;
    padding: 8px 24px;
    top: 32px;
    position: relative;
    transition: 2s ease;
    border-radius: 0;

}

.intro-text a:hover {
    font-size: 16px;
    color: white;
    background-color: #D874BD;
    padding: 8px 24px;
    text-decoration: none;
    position: relative;
    cursor: pointer;

}

/*about*/
.about .col-md-5 a {

    padding: 8px 24px;
    color: #6E539E;
    font-size: 14px;
    text-align: center;

    text-decoration: none;
    align-self: center;
    right: 0;
    transition: 0.5s linear;
}

.about .col-md-5 a:hover {

    padding: 8px 24px;
    color: #6c4a98;
    font-size: 14px;
    text-align: center;

    text-decoration: none;
    align-self: center;
    right: 0;
}


.about ul{
     margin-top: 0;
     padding: 0;
     background-color: transparent;
 }

.about ul li a{
    color:  #6E539E;
    font-weight: 500;
}

.about .agenda li{
    list-style: none;

}

.about .col-md-7 p {
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
}




.modal-backdrop {
    background-color: red;
}

.modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align:justify;
}


/*features*/
.features {
    text-align: center;
    background: rgba(154, 160, 158, 0.15);
    padding: 40px;
}

.features i {
    font-size: 48px;


    padding: 20px;

}

.section h2 {
    margin-bottom: 64px;
}

.features.section h4 {
    font-size: 16px;
    line-height: 24px;
}

.features.section span {
    color: #6E539E;
    font-weight: 600;
}

.features .img.img-responsive {
    margin: 0 auto 16px;
    padding: 32px 64px;
}

.features .row:nth-child(2) {
    padding:8px 40px;
}


/*location */
.location .container h3 {
    border-left:4px solid #6E539E;
    padding-left: 8px;
}

.location .container p {
    font-size: 14px;
}


/*timeline */
.timeline .container {
    text-align: center;
}


.timeline .nav-pills>li.active>a, .timeline .nav-pills>li.active>a:focus, .timeline.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #6e539e;
    margin-bottom: 8px;



}

.timeline .nav>li>a {
    position: relative;
    display: block;
    padding: 10px;
    color: black;
}


.timeline .tab-content{
    padding: 8px 64px;
}



/*teacher*/
div.teacher h2 {

    text-align: center;

}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 8px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.29);
}

/* Add some padding inside the card container */
.teacher.section.container.row:nth-child(2) {
    padding: 500px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #6E539E;
    overflow: hidden;
    width: 65%;
    height: 0;
    transition: .5s ease;
    margin: 0 auto;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.card:hover .overlay {
    height: 77%;
    padding: 20px;
    cursor: pointer;
}



/*review*/
.testmonial {
    text-align: center;
    background:rgba(154, 160, 158, 0.15);
    padding: 56px;
    margin-bottom: 0;


}

.testmonial.container {
    padding: 0 24px;
}

.testmonial img {
    width: 80%;
    margin: 0 auto;


}

.testmonial p {
    text-align: left;
}



/*cta*/
.calltoaction {
    text-align: center;
    padding: 64px;
    background: #6E539E;
    margin-bottom: 0;
    padding-bottom: 96px;
}


.calltoaction h2{
    color: white;
    margin-bottom: 16px;
}

.calltoaction p{
    color: white;
}

.calltoaction a {
    font-size: 16px;
    color: #6E539E;
    background-color: #f0f9f6;
    padding: 8px 24px;
    top: 32px;
    position: relative;
    transition: 0.5s linear;
    margin-bottom: 64px;
    text-decoration: none;
}

.calltoaction a:hover {
    font-size: 16px;
    color: white;
    background-color: #D874BD;
    padding: 8px 24px;
    text-decoration: none;
    position: relative;
    cursor: pointer;

}


.card_p.tooltip-inner {
    max-width: 800px;
    background-color: cornflowerblue;
    width: 600px;

}


body > div.about.section > div > div > div.col-md-5 > div > div.panel-heading {
    color: #fff;
    background-color: #6E539E;
    border-color: #6E539E;
}


body > div.about.section > div > div > div.col-md-5 > div {

    border: 1px solid #6E539E;
    position: relative;
    top: 48px;
    width: 85%;
    left: 58px;
}

/*tab*/

.tab-content div.wrapper {
    padding: 32px;
    box-shadow: 2px 2px 20px 2px rgba(110, 83, 158, 0.27);
    width: 85%;
    margin: 32px auto 16px;
    border-radius: 0px 15px 0px 15px;
}


.tab-content .wrapper p {
    text-align: justify;
}


/*GALLERY */
.gallery .container h3 {
    text-align: center;
    margin-bottom: 32px;
}


/*Gallery*/
.gallery .container h3:after {

    background:#6E539E ;

    height: 3px;
    content: "";
    width:50px;
    display: block;
    margin: 12px auto;
}


/*testomonial */
.testimonial h2 {
    text-align: center;
    margin-bottom: 64px; }
.testimonial #myCarousel2 {
    background: #9681bd;
    color: white; }
.testimonial #myCarousel2 > h4 {
    text-align: center;
    position: relative;
    top: 38px; }
.testimonial #myCarousel2 .carousel-inner .container {
    padding: 18px 88px;
    text-align: center; }
.testimonial #myCarousel2 .carousel-inner .container [class*="col-"] {
    padding: 24px; }
.testimonial #myCarousel2 .carousel-inner .container h4 {
    padding: 8px 16px;
    font-weight: normal;
    line-height: 26px; }
.testimonial #myCarousel2 .carousel-inner .container p {
    text-align: center; }
.testimonial #myCarousel2 .carousel-control a {
    background: transparent; }
.testimonial #myCarousel2 .carousel-control hr {
    padding: 0;
    margin: 0;
    opacity: 0.6; }





/*video for g20 */
.video-container {
    width: 100%;
    height:87vh;
    top: 0%;
    left: 0%;
    overflow: hidden;
    object-fit: contain;
    margin-bottom: 48px;
    margin-top: -3vh;
}


/*G20 VP */
.values .container .fa {
     display: block;
     text-align: center;
     font-size: 72px;
     margin: 32px 0 32px;
    color: #6E539E;

}

.values .container h3 {
     margin-bottom: 32px;
     text-align: center;
 }

.values .container h3:after {
    content: "";
    width:50px;
    display: block;
    height: 3px;
    background: #6E539E;
    margin: 12px auto;
}

.values .container h4 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 18px;
}

.values .container ul {
    margin: 0 auto;
}

.values .container ul li {

}

/*teaching staff*/

.teachingstaff .container{
    margin-bottom: 64px;
}


.teachingstaff .container h3{
    margin-bottom: 40px;
    text-align: center;
}


.teachingstaff .container h3:after{
    background: #6E539E;
    display: block;
    text-align: center;
    height:3px;
    width:40px;
    content: "";
    margin: 18px auto 0;
}


.teachingstaff .container .teacher-card h5{
    text-align: center;
    margin-top: 16px;

}

.teachingstaff .container .teacher-card img{
    margin: 0 auto 8px;

    max-width: 70%;
    box-shadow: 5px 5px 10px gray;

}




.teachingstaff .container .teacher-card .bio-overlay{
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    background-color: #6E539E;
    overflow: hidden;
    width: 70%;
    height: 0%;
    transition: .5s ease;
    margin: 0 auto;





}


.teachingstaff .container .teacher-card:hover .bio-overlay{

    height: 91%;
    cursor: pointer;


}



.teachingstaff .container .teacher-card .bio-overlay p {
    padding: 8px 24px;
    color: white;
    text-align: justify;
    display: block;
    vertical-align: middle;

    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}







