



 h4 {
     background: #ffd718;
     color: white;
     width: 40px;
     height: 40px;
     font-size: 2em;
     font-weight: bold;
     border-radius: 50%;
     line-height: 40px;

      text-align: center;
      margin: 0 auto;
      position: relative;
      top: 70px;

     box-shadow: 3px 3px 10px white;


}



 h4:nth-child(odd):hover {

     background:lightskyblue;
     cursor: pointer;

 }


.method {

    background-color: deepskyblue;
    height: 70px;
    margin-top:10px;



}


div.info {
    background: #49d8ff;

    width: 33.3%;
    position: relative;
    top:20px;
    border: 1px black solid;
    height: 60px;
    opacity: 0;


}



div.section {}



 div.section h3 {
     text-align: center;
     margin: 0 auto;
     position: relative;
     top:15px;



 }


 .jumbotron {
     position: relative;
     top:20px;

 }


 .jumbotron h2 {
       position: absolute;
       bottom: -500px;
       opacity: 0;
 }

 .jumbotron {

 }


 body{
     font-family: 'Lato', sans-serif;
     background:#fff;
     overflow-x: scroll;
     overflow-y: scroll;
 }
